body{
  text-align: center;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
}

h1{
  margin: 14px auto 30px auto;
  font-family: 'Sacramento', cursive;
  font-size: 5rem;
  color: rgb(4, 24, 41);
 
}

h2{
  font-size: 1.875rem;
  color : #4cd3c2;
}

h3{
  
  color :  #4cd3c2
}

.top-container{
  background-color: #4cd3c2;
  padding-top: 100px;
  position: relative;
}

.middle-container{

  background-color: #eae7d9;
  
  

}

.bottom-container{
 
background-color: #4cd3c2;

}

.top-cloud{
  position: absolute;
  top : 50px;
  right : 260px;
}

.bottom-cloud{
  position : absolute;
  top : 200px;
  left : 250px;
}

hr{
  border-width: 8px 0 0 0;     
  border-style: dotted;
  width: 5%;     
  border-color: rgb(109, 103, 103);
  margin: 50px auto;   
}

.profile-pic{
  border-radius:  43% 57% 100% 0% / 54% 41% 59% 46% ;
  padding-top: 50px;
}


.sub{
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;  
  
}

.skill-row{
  width: 50%;
  margin: 50px auto;
  text-align: left;
  line-height: 2;
  padding-top: 30px;
   
}

.skill_1_img {
  width: 25%;
  float: left;
  padding-right: 30px;
 
}

.skill_2_img {
  width: 25%;
  float: right;
  padding-left: 30px;
}

.bold{
  font-weight: bold;
}

.btn{

  border-radius: 10%;
  background-color: #4cd3c2 ;
  padding: 10px;
  font-weight: bold;

}


.btn  :hover{
  background-color: green;
}

.bottom-container{

 
  
  padding: 50px ;
}

.footer-link{
  padding: 20px;
}


.profile{
  padding-bottom: 50px;
}


